aiofiles>=23.1.0
aioshutil
anytree
apscheduler
aiohttp
beautifulsoup4
dnspython
electrogram
httpx
natsort
pillow
psutil
pymongo
pyrogram
pyshorteners
python-magic
pytz
requests
tenacity
uvloop
git+https://github.com/shabbirmahmud/streamrip.git@dev
